# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment files
.env

# Compiled Python files
*.pyc
__pycache__/
**/__pycache__/

# Editor or IDE configuration files
.vscode/
.idea/

# Library and binary dependency files
*.egg-info/
.Python

# Cache files
.cache/
.pytest_cache